/* ***** Fonts ***** */

/* -----------------------
:: 1.0 Top Header Area CSS
------------------------ */




/* ------------------------
:: 2.0 Top Feature Area CSS 
------------------------ */



/* --------------------
:: 3.0 Main Content CSS 
-------------------- */


.AboutUsContainer{
    background-color: #faf9f3;
    border-style: solid;
    border-color: #d6beed;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.AboutUsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #d4b9f2;

}

.AboutUsImage{
    height: 200px;
    width: 250px;
}
#mem{
    font-size: small;
}





/* -------------------
:: 5.0 Footer Area CSS
------------------- */

