/* ***** Fonts ***** */

/* -----------------------
:: 1.0 Top Header Area CSS
------------------------ */




/* ------------------------
:: 2.0 Top Feature Area CSS 
------------------------ */



/* --------------------
:: 3.0 Main Content CSS 
-------------------- */
/*Single Post*/
.HeaderPost{
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    border-style: solid;
    border-color: black;
    flex-wrap: wrap;
    background-color: #F7F6F2;
}
.Author-Post{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #C7FFD8;
    width: 100%;
    text-align: center;
    
}
h1,h2{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 30px;  
}

p{
    font-family: 'Quicksand', sans-serif;
}


b{
    font-size: 20px;
}

/* -------------
:: 4.0 About CSS 
------------- */




/* -------------------
:: 5.0 Footer Area CSS
------------------- */

